{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}

    <h1>Bienvenue à toi {{ user.surname }}</h1>

    <a href="{{ path('app_excursion_form') }}">Créer une excursion</a>
{% endblock %}
