body {
    margin: 0;
    height: 100%;
}
h1, h2, h3, h4, h5, h6, label{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
a.badge {
    text-decoration: none;
}

img {
    aspect-ratio: 1/1;
}