<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}sortir.com{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body style="margin: 0">
        {% include 'navbar.html.twig' %}

        <div style="background-image: linear-gradient(white, darkblue); display: flex; min-height: 100vh">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
