<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}sortir.com{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('styles/header.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include 'navbar.html.twig' %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
