<nav>
    <ul>
        {# TODO logo #}
        <li><a href="/" style="color: darkblue">sortir.com</a></li>

        {% if app.user %}
        <li style="float:right"><a href="/logout">Déconnexion</a></li>
        <li style="float:right"><a href="#">Profil</a></li>
        <li style="float:right"><a href="/">Accueil</a></li>
        {% endif %}
    </ul>
</nav>